@font-face {
	font-family: 'puravida';
	src:url('../fonts/puravida.eot?-apqppi');
	src:url('../fonts/puravida.eot?#iefix-apqppi') format('embedded-opentype'),
		url('../fonts/puravida.woff?-apqppi') format('woff'),
		url('../fonts/puravida.ttf?-apqppi') format('truetype'),
		url('../fonts/puravida.svg?-apqppi#puravida') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'puravida';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-coin:before {
	content: "\e600";
}
.icon-phone:before {
	content: "\e601";
}
.icon-calendar:before {
	content: "\e602";
}
.icon-download:before {
	content: "\e603";
}
.icon-bubbles:before {
	content: "\e604";
}
.icon-user:before {
	content: "\e605";
}
.icon-lock:before {
	content: "\e606";
}
.icon-stats:before {
	content: "\e607";
}
.icon-numbered-list:before {
	content: "\e608";
}
.icon-menu:before {
	content: "\e609";
}
.icon-arrow-right:before {
	content: "\e60a";
}
.icon-googleplus:before {
	content: "\e60b";
}
.icon-facebook:before {
	content: "\e60c";
}
.icon-twitter:before {
	content: "\e60d";
}
.icon-file-word:before {
	content: "\e60e";
}
.icon-users:before {
	content: "\e60f";
}
.icon-megaphone:before {
	content: "\e610";
}
.icon-book:before {
	content: "\e611";
}
.icon-graduation:before {
	content: "\e612";
}
