
@import "nib"
@import "normalize.styl"
@import "icons.styl"

azul = #0168AA
azul_oscuro = #004977
rojo = #F1705A
celeste = #00ADEE
celeste2 = #90D6F1
verde = #CED786
gris = #5E636D
claro = #E9EDDB

body
	background url('../img/bg.png') repeat claro
	font-family 'Roboto Slab', serif
	font-size 16px
	line-height 25px
	
header 
	background azul
	height 75px
a 
	text-decoration	none
	color rojo
	&:hover
		color celeste2
h1 
	color gris
	font-size 1.5em
	font-weight 400
	text-transform uppercase
h2 
	font-size 1em
	font-weight 400
	color celeste
	text-transform uppercase
button
input[type="submit"]
	color #fff
	border none
	margin 0
	padding 0
	cursor pointer

label 
	cursor pointer
	display inline-block
	margin-bottom 5px
input[type="text"],
input[type="email"],
input[type="password"]
	position: relative;
	margin-bottom: 0;
	vertical-align: top;
	border-radius 3px
	background-color: #FFF;
	border: 1px solid #CCC;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	display: inline-block;
	height: 18px;
	padding: 4px 6px;
	line-height: 18px;
	color: #555;

input[type="checkbox"]
	display inline-block
	margin 4px 0 0

.inner
	margin 0 auto
	max-width 1000px

.header-top
	background azul_oscuro
	height 33px
.languajes
	float left
	margin-left 10px
	a
		display inline-block
		color claro
		text-transform uppercase
		font-size 12px
		margin-right .5em
		padding-right .8em
		border-right 1px solid gris
		&:hover
			color celeste
		&:nth-child(4)
			border-right none
.btn-login
	background claro
	color #000
	float right
	font-size .9em
	padding .3em
	margin-top -1px
	&:hover
		color #000

.moduletable-login-register
	position relative

.logo 
	float left
	width 275px
	img 
		width 100%
.menu
	display none
	//float right
	margin-top 4.5em//1em
	position absolute
	left 0
	right 0
	z-index 2

	ul
		margin 0
		padding 0
		background azul_oscuro

	li
		display block//inline-block
		vertical-align top
		text-align center

		&.active
			a 
				color verde
		
		&:last-child
			a 
				color #FFF

	a 
		color #FFF
		display block 
		padding .5em

		&:hover
			color verde

.banner
	background-image url('../img/banner.jpg') 
	background-position center  center
	background-repeat no-repeat
	background-size cover, cover
	height 450px
	position relative
	
	img
		width 100%
	.splash
		//width 600px
		position absolute
		bottom 4em
		color #FFF
		padding .5em
		
	h1
		text-transform uppercase
		color #FFF
		font-weight 700
.header-section
	margin-top 3em
	h1
		text-transform uppercase
	.icon 
		background rojo
		padding .5em 
		color rgba(255,255,255,.8)
		font-size 1.5em
		border-radius 50%

.btn
	 border-radius 5px
	 box-shadow 1px 1px 2px rgba(0,0,0,.5)
	 padding .5em 1em
	 color #FFF
	 background gris


.btn-red
.btn-primary
.btn-success
	background rojo
	&:hover
		background #E5705A
		color #FFF
		

.main 
	background #FFF
	padding .5em 1em
	border-radius 5px
	box-shadow 0px 0px 8px rgba(0,0,0,.5)
	margin-top 4em
	color gris
	

.subtitle
	color celeste
	font-size 1rem
	display block
	margin .5em 0

.services
	text-align center
	margin-top 4em
	padding-bottom 2em
	border-bottom 1px dotted rgba(94,99,109,.5)
.service
	
	display inline-block
	width 300px
	margin .5em

	h2 
		color celeste
		margin-top 2em
		text-transform none	
	p
		text-align left

	.icon 
		padding .5em
		font-size 4em
		border-radius 50%
		color #FFF
.files
	text-align center
	padding-bottom 2em
	border-bottom 1px dotted rgba(94,99,109,.5)
.category-file
	width 200px
	display inline-block
	margin .5em
	box-shadow 0px 0px 8px rgba(0,0,0,.5)
	padding .5em
	
	.imagen
		background claro
		padding .5em
	.icon
		font-size 4em
	h3 
		margin 0
	p 
		text-align left
	.read-more 
		text-align left	
		display block
		
.section-video
	clearfix()
	padding-bottom 2em
	
	.video
	.info
		display inline-block
	.video 
		margin-top 1em
		margin-right 1.5em
		img
			width 100%
	.info 
		width auto//50%

.blog-books
	
	.span3
		display block
		width auto
		text-align center
	.btn 
		background rojo
		&:hover
			background #E5705A
			color #FFF
.item-page-books
	clearfix()
	
	.pull-left
		display block
		text-align center
	.price
		font-size 2em
		margin 1em 0

.testimony
	clearfix()
	border-bottom 1px dotted rgba(94,99,109,.5)
	padding-bottom 1em
	.image
		text-align center
		margin-top 1.5em
		p 
			margin 0
			font-size .9em
			color celeste
			font-weight 700

		
footer
	background gris
	margin-top 2em
	.column
		display inline-block
		color #C2B49B
		vertical-align top
		margin 1em
	.column-links
		display none
	h3 
		color #FFF
.column-contact
	width auto
.column-logo 
	a 
		margin-top 2em
		display block
	img 
		width 100%
.redes 
	a 
		color gris
		display inline-block
		background #C2B49B
		border-radius 50%
		padding .4em
		i 
			display block


.menu-footer
	display none
	ul 
		margin 0
		padding 0
	li 
		line-height 1.5em
		display block 
	a 
		color #C2B49B
		padding 0
	.item-109
		display none

.tear 
	background url('../img/footer_tear.png') repeat-x 
	height 10px
	display block
	position relative
	top -10px

.streaming
	text-align center
	padding-bottom 2em
	border-bottom 1px solid rgba(94,99,109,.5)
	iframe
		display inline-block
		vertical-align top
.stream-player
	width 100%
	
.stream-chat
	width 100%
	

.bg-red
	background rojo

.bg-celeste
	background celeste2

.bg-green
	background verde
.element-invisible
	display none	
.unstyled
	list-style none
	margin 0
	padding 0

.control-group
	margin-bottom 9px


.form-horizontal
	.controls
		margin-left 180px
	.control-label 
		float left
		width 160px
		padding-top 5px
		text-align right
	.control-group 
		margin-bottom 18px
		
		&:after 
			display table
			content ""
			line-height 0
			clear both
			
	legend + .control-group
		margin-top 18px
		-webkit-margin-top-collapse separate

fieldset
.well
	//background claro
	padding 1em
	margin-bottom 1em
.nav-stacked
	list-style none
	margin 0 
	padding 0


.alert 
	padding: 8px 35px 8px 14px;
	margin-bottom: 18px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #FCF8E3;
	border: 1px solid #FBEED5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	.close
		cursor pointer

.alert-danger
.alert-error
	background-color rojo
	border-color #EED3D7
	color #FFF

.alert-info
	background celeste
	color #FFF 

.tooltip 
	position absolute
	z-index 1030
	display block
	visibility visible
	font-size 11px
	line-height 1.4
	opacity 0
	

	&.in 
		opacity 0.8
	

	&.top 
		margin-top -3px
		padding 5px 0

		.tooltip-arrow 
			bottom 0
			left 50%
			margin-left -5px
			border-width 5px 5px 0
			border-top-color #000

	&.right 
		margin-left 3px
		padding 0 5px

		.tooltip-arrow 
			top 50%
			left 0
			margin-top -5px
			border-width 5px 5px 5px 0
			border-right-color #000

	&.bottom 
		margin-top 3px
		padding 5px 0

		.tooltip-arrow 
			top 0
			left 50%
			margin-left -5px
			border-width 0 5px 5px
			border-bottom-color #000

	&.left 
		margin-left -3px
		padding 0 5px

		.tooltip-arrow 
			top 50%
			right 0
			margin-top -5px
			border-width 5px 0 5px 5px
			border-left-color #000

.tooltip-inner 
	max-width 200px
	padding 8px
	color #fff
	text-align center
	text-decoration none
	background-color #000
	border-radius 4px

.tooltip-arrow 
	position absolute
	width 0
	height 0
	border-color transparent
	border-style solid



#btn_nav
	position absolute
	color #FFF
	right 1em
	top 1.6em
	cursor pointer
	font-size 2em
	&:hover 
		color verde

#login-form
	display none
	position absolute
	top 33px
	right 0
	background #FFF
	padding 1em
	z-index 2
	box-shadow 0px 0px 8px rgba(0,0,0,.5)

	.input-prepend
		.btn
			margin-right -1px
			&:first-child
				border-radius 3px 0 0 3px
		.add-on
			vertical-align: top;
			margin-right -5px
			display: inline-block;
			width: auto;
			height: 18px;
			min-width: 16px;
			padding: 4px 5px;
			font-size: 13px;
			font-weight: normal;
			line-height: 18px;
			text-align: center;
			text-shadow: 0 1px 0 #FFF;
			background-color: #EEE;
			border: 1px solid #CCC;

			&:first-child
				border-radius 3px 0 0 3px
	input[type="text"],
	input[type="password"]
		border-radius 0 3px 3px 0

	input[type="checkbox"]
		float left
		display inline-block
		margin 4px 3px 0 0

	a 
		font-size 14px
		
div#b2jcontainer_c108
	&.b2jcontainer
		font-weight normal
		border none
		background #FFF


		h2 
			background none
			text-transform uppercase
			color gris
			font-size 2em
			font-weight 400 
	.btn 
		background rojo
	.b2j_form 
		input[type="text"],
		input[type="email"],
		textarea
			border-radius 3px
	.alert-error
		background-color rojo
		border-color #EED3D7
		color #FFF
	.alert-info
		background celeste
		color #FFF 

	.required
	.asterisk
		color rojo
	.control-group
		&.error
			> label
				color rojo
			input 
				color rojo
				border-color rojo

	


@import "responsive.styl"	

