@media only screen and (min-width:  565px)
	h1
		font-size 2em
	h2 
		font-size 1.5em
	.testimony
		.image
			float left
			text-align left
			margin-right 1em
			margin-top 1.5em

@media only screen and (min-width:  768px)
	.stream-player
		width 60%
	.stream-chat
		width 30%
	.blog-books
		.span3
			display inline-block
			width 300px
			margin .5em
			
		
	.item-page-books
				
		.pull-left
			float left
			margin-right 1em
@media only screen and (min-width:  1000px)
	.languajes
		margin-left 0
	#btn_nav
		display none
	.menu 
		display block !important
		margin-top 0em 
		position static
		background amarillo

		ul
			background none
			text-align center
		li 
			display inline-block
			text-align left
	.banner
		.splash
			width 600px
			padding 0

	.section-video
		.video 
			width 45%
		.info 
			width 50%
	footer
		.column-links
			display inline-block
	/*.column-contact
		width 350px*/

	.menu-footer
		display block

		li 
			display block

@media only screen and (max-width: 480px)
	.form-horizontal 
		.control-label 
			float none
			width auto
			padding-top 0
			text-align left
		.controls
			margin-left 0
		