@media only screen and (min-width:  565px)
	h1
		font-size 2em
	h2 
		font-size 1.5em
	.testimony
		.image
			float left
			text-align left
			margin-right 1em
			margin-top 1.5em
	
	

@media only screen and (min-width:  768px)
	.stream-player
		width 60%
	.stream-chat
		width 30%
	.blog-books
		.span3
			display inline-block
			width 280px
			margin .5em
			
		
	.item-page-books
				
		.pull-left
			float left
			margin-right 1em
	.redes
		a 
			font-size 4em
	header 
		background url('../img/header-768.jpg') no-repeat center center #FFF
		height 300px
	.skype-header
		top 100px
		left 0
		span 
			font-size 1.5em
		i 
			font-size 4em

@media only screen and (max-width:768px)
	.books
	.books2
		display none
	
	

@media only screen and (min-width:  1000px)
	header 
		background url('../img/header.jpg') no-repeat center center #FFF
		height 375px
	.skype-header
		top 145px
		left -20px
		
		
	.languajes
		margin-left 0
	#btn_nav
		display none
	.menu 
		display block !important
		margin-top 0em 
		position static
		background amarillo

		ul
			background none
			text-align center
		li 
			display inline-block
			text-align left
	.banner
		.splash
			width 600px
			padding 0

	.section-video
		.video 
			width 45%
		.info 
			width 50%
			float right
			text-align center
	footer
		.column-links
			display inline-block
	/*.column-contact
		width 350px*/

	.menu-footer
		display block

		li 
			display block
	.main 
		margin-top 4em

@media only screen and (max-width: 480px)
	.form-horizontal 
		.control-label 
			float none
			width auto
			padding-top 0
			text-align left
		.controls
			margin-left 0

		